# Virtual env
.venv/

# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

# Environment files
.env

# Logs
*.log

# (Optional) local data folder – if you later create it and don't want raw data in Git
data/
